@page "/"

<PageTitle>Index</PageTitle>

<MudButton OnClick="Presence" Variant="Variant.Filled" Color="Color.Primary">Presença</MudButton>
<MudButton OnClick="Presence" Variant="Variant.Filled" Color="Color.Primary">Reportar</MudButton>
<MudCarousel Class="mud-width-full" Style="height:200px;" TData="object">
    <MudCarouselItem Color="@Color.Primary">
        <div class="d-flex" style="height:100%">
            <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Color="@Color.Secondary">
        <div class="d-flex" style="height:100%">
            <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem>
        <div class="d-flex" style="height:100%">
            <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Color="@Color.Primary" Size="@Size.Large" />
        </div>
    </MudCarouselItem>
</MudCarousel>

<MudCarousel Class="mud-width-full" ShowBullets="false" EnableSwipeGesture="true" AutoCycleTime="new TimeSpan(0, 0, 10)" 
        Style="height:200px;" TData="object"
>
    <MudCarouselItem Color="@Color.Primary">
        <div class="d-flex" style="height:100%">
            <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Color="@Color.Secondary">
        <div class="d-flex" style="height:100%">
            <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem>
        <div class="d-flex" style="height:100%">
            <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Color="@Color.Primary" Size="@Size.Large" />
        </div>
    </MudCarouselItem>
</MudCarousel>

<div class="popover-div-button">

    <MudIconButton Icon="@Icons.Material.Filled.Delete" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small" 
        OnClick="@(() => isOpen = !isOpen)"
    >
    </MudIconButton>
    <MudPopover Open="isOpen" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
        <MudIconButton Icon="@Icons.Material.Filled.Delete" aria-label="delete"></MudIconButton>
    </MudPopover>
    <MudPopover Open="isOpen" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
        <MudIconButton Icon="@Icons.Material.Filled.Delete" aria-label="delete"></MudIconButton>
    </MudPopover>
    <MudPopover Open="isOpen" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
        <MudIconButton Icon="@Icons.Material.Filled.Delete" aria-label="delete"></MudIconButton>
    </MudPopover>
</div>


@code {
    bool isOpen = false;
    void Presence()
    {

    }

    void Report()
    {
        
    }
}